@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;

}

body {
    font-family:"Montserrat", sans-serif;
    width: 100%;
}

.logo {
    width: 100%;
    height: 120px;
}

.logo img {
    float: left;
    width: 200px;
    height: 120px;
    margin: 10px 0 0 30px;
    cursor: pointer;
}

.logo li {
    float: right;
    list-style: none;
    margin-right: 100px;
    
}

.logo li a {
    line-height: 100px;
    
}

.logo li i {
    font-size: 25px;
    color: rgb(66, 66, 66);
}

.logo li a:hover {
    border-bottom: 2px solid #00adb5;
}

.navbar ul {
    width: 95%;
    height: 40px;
    background-color:rgb(66, 66, 66) ;
    margin-top: 25px;
    border-radius: 25px;
}

.navbar li {
    float: left;
    margin-left: 100px;
    list-style: none;
    line-height: 40px;
    letter-spacing: 1px;

}

.navbar li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
}

.navbar li a:hover {
    color:#00adb5; ;
    border-bottom:2px solid #00adb5; ;
}

.main-img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.main-img img {
    float: right;
    width: 600px;
    height: auto;
    margin-right: 50px;
    border-radius: 100px;
    
    
}

.right-side {
    float: left;
    width: 33%;
    margin-top: 50px;
    margin-left: 50px;
}


.right-side  h1 {
    font-size: 50px;
    letter-spacing: 5px;
    padding-bottom: 75px;
    
}


.right-side  p {
    font-family: "Open+Sans", sans-serif;
    letter-spacing: 1px;
    
}

footer {

    margin-top: 10px;
    float: left;
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: 75px;
    
}

.top-footer ul li {
    float: right;
    margin-right: 20px;
    list-style: none;
    margin-bottom: 10px;
}

.top-footer li a {
text-decoration: none;
color: #fff;
font-family: "Montserrat", sans-serif;
}
.top-footer li a:hover {
    color:#00adb5; ;
    border-bottom:2px solid #00adb5; ;
}

.top-footer h3 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
}

.bottom-footer {
    float: left;
}

.bottom-footer p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    font-size: 12px;
}

.content1 {
    width: 100%;

}