@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;

}

body {
    font-family:"Montserrat", sans-serif;
    width: 100%;
}

.logo {
    width: 100%;
    height: 120px;
}

.logo img {
    float: left;
    width: 400px;
    height: 120px;
    margin: 0 0 0 30px;
    cursor: pointer;
}

.social {
    float: right;
}

.social li {
    float: right;
    list-style: none;
    margin-right: 100px;
    margin-top: -80px;
    
    
}

.social li a {
    line-height: 100px;
    
}

.social li i {
    font-size: 25px;
    color: rgb(66, 66, 66);
}

.social li a:hover {
    border-bottom: 2px solid #00adb5;
}

.navbar ul {
    width: 95%;
    height: 40px;
    background-color:rgb(66, 66, 66) ;
    border-radius: 50px;
    margin-top: 20px;
   
}

.navbar li {
    float: left;
    margin-left: 50px;
    padding-right: 150px;
    list-style: none;
    line-height: 40px;
    letter-spacing: 1px;
    

}

.navbar li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    display: block;
    margin-right: 40px ;
}

.navbar li a:hover {
    background-color:#00adb5; 
    color: white;
   
}

.active {
    background-color:#00adb5; ;
    color: white;
    
}

.main-img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.main-img img {
    float: right;
    width: 550px;
    height: auto;
    margin-right: 3%;
    border-radius: 100px;
    margin-top: 10px;
    
    
}

.right-side {
    float: left;
    width: 33%;
    margin-top: 50px;
    margin-left: 50px;
}


.right-side h1 {
    font-size: 30px;
    padding-bottom: 25px;
    
}


.right-side p {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin: 0;
    
}

footer {

    margin-top: 10px;
    float: left;
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: 75px;
    
}

footer ul {
    margin-right: 30px;
}


.top-footer ul li {
    float: right;
    margin-right: 30px;
    list-style: none;
    margin-bottom: 10px;
}

.top-footer li a {
text-decoration: none;
color: #fff;
font-family: "Montserrat", sans-serif;
}
.top-footer li a:hover {
    color:#00adb5; ;
    border-bottom:2px solid #00adb5; ;
}

.top-footer h3 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    margin-left: 50px;
}

.bottom-footer {
    float: left;
}

.bottom-footer p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    font-size: 12px;
    margin-left: 50px;
}

#mid-content {
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 50px;
    
}


.center img {
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 45px;
    margin-top: 100px;
    border-radius: 40%;
    padding:10px;
   

}

.right-content {
    float: right;
    width: 30%;
    margin-right: 50px;
    
   
    

}

.left-content {
    float: left;
    width: 30%;
    margin-left: 50px;
} 

.left-content h1 {
    
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 45px;
}

.left-content p {
    align-items: center;
    margin: 0;
    font-size: 15px;
    height: 200px;
}

.right-content h1 {
   
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 45px;
}

.right-content p {
    align-items: center;
    margin: 0;
    font-size: 15px;
    height: 200px;
}



#logo-mid {
    float: left;
  
}

.logo-mid-img img {
    width: 400px;
    height: 120px;
    float: left;
    margin-left: 50px;
    margin-bottom: 10px;
    
  
}

hr {
    
    width: 100%;
    height: 10px;
    background-color: #00adb5;
    
}

.meetup-vid {
    margin: 10px 0 100px 50px;
    
}

.meetup-vid iframe {
    width: 50%;
    margin-top: 10px;
}



#video h2 {
    float: left;
    margin-right: 70px;
    width: 40%;
    font-size: 60px;
    margin-top: 10px;
    border-bottom:2px solid #00adb5;
}





#gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
    margin-top: 10px;
}

#gallery img {
    width: 100%;
    border-radius: 20px;
}

.location {
    width: 100%;
    height: auto;
    margin-top: 10px;
    
    
}

#meetup-map {
    width: 550px;
    height: 440px;
} 

.rightmap {
    float: left;
    margin-left: 50px;
}


.textmap {
    float: right;
    margin-right: 200px;
    width: 350px;
    
}



.textmap h1 {
    font-size: 35px;
    margin-bottom: 10px;

}



.textmap p {
    font-size: 15px;
    margin: 10px 0 10px 0;
    

}

.textmap img {
    width: 500px;
    height: 230px;
    border-radius: 20px;
}

.form {
    
   background-color: #00adb5;
    width: 100%;
    height: 700px;
    
  
   
}

.signup-form {
    
    margin: 50px 0 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 6%;
    padding: 30px;
    border-radius: 20%;
}

.signup-form h1 {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 30px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 0px 0;
    border: 1px solid #fafafa;
    border-radius: 5px;
}

.text-input:hover {
    border-color: #00adb5;
}

.submit-button {
    margin-top:20px;
    padding:10px 20px 10px 20px;
    text-align:center;
    font-size:100%;
    background-color: #00adb5;
    display:block;
    color:#fafafa;
}

.submit-button {
    background-color:#fafafa;
    color:#00adb5;
}
.meetup-times {
    width: 350px;
    height: 400px;
    float: right;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    margin: 50px 0px 0 6%;
    border-radius: 20%;
}

.meetup-times h1 {
    font-size: 25px;
    margin: 15px 0 0 100px;
    font-weight: 900;
    
}

.meetup-times h3 {
    font-weight: 700;
}

.meetup-times h3, p {

    font-size: 20px;
    margin: 40px 0 0 130px;

}



@media screen and (max-width: 1150px){

    
    .textmap {
        float: left;
        clear: left;
        margin-left: 50px;
    }

    

}


@media screen and (max-width: 1000px){

    

    .navbar li {
        padding-right: 5px;
    }



    #gallery {
        
        column-count: 2;
    }

    .form {
        height: 500px;
    }

    .main-img img {
        float: left;
        margin-left: 10px;
    }

    .right-side {
        clear: left;
        width: 80%;
    }

    #video h2 {
        font-size: 40px;
    }

    

   


}

@media screen and (max-width: 855px){




    .social {
        float: left;
    }
    

    .social ul {
        margin-top: 40px;
        float: left;
        margin-left: 50px;
    }

    .navbar ul {
        margin-top: 60px;
    }

    .left-content  {
        float: left;
        clear: left;
        width: 80%;
        margin: 0 0 0 50px;
       
        
    }
    
    .right-content {
        float: left;
        clear: left;
        width: 80%;
        margin: 0 0 0 50px;
        
     
    }


    .left-content p  {
       height: 80px;
        
    }

    .left-content h1  {
        margin-top: 80px;
         
     }
    
    .right-content p {

        height: 80px;
    
     
    }

    .center img {
        margin: 15px 0 0 50px;
    }

    .form {
        height: 1000px;
        background-color: #00adb5;
        background-image: none;
    }

    .meetup-times {
        float: left;
        margin-top: 500px;
        left: 15%;
    }

    .meetup-vid iframe {
        float: left;
    }

    #video h2 {
        float: left;
        clear: left;
        width: 90%;
    }

    #video h2 i {
        display: none;
    }





}





@media screen and (max-width: 540px){

    .textmap {
        margin-left: 10px;
    }

    .rightmap {
        margin-left: 10px;
    }



    .navbar li {
        float: none;
        margin: 0 0 0 5px;
        padding: 0; 
        background-color: white;
        
    }

    .navbar li a {
        color: black;
        border-bottom: 1px solid #00adb5;
        display: inline-block;
    }

    .main-img {
        margin-top: 100px;
    }

    .active {
        background-color: transparent;
        color: transparent
        
    }

    .navbar ul {
        background-color: transparent;
        
    }

    .form {
        margin-top: 25%;
    }

    .social ul li {
        margin-right: 50px;
    }

    .main-img img {
        width: 500px;
    }

    .center img {
        margin-top: 80px;
    }

    #gallery {
        margin-top: 60px;
    }




}

@media screen and (max-width: 500px){


    .signup-form {
        width: 250px;

    }

    .meetup-times {
        width: 250px;
    }

    .meetup-times h1 {

        margin-left: 20px;
       
    
    }

    .meetup-times h3 {
        margin-left: 20px;
    }

    .meetup-times p {
        margin-left: 20px;
    }

    footer {
        height: 75px;
        margin-top: 0;
        
    }

    .top-footer h3 {
        margin:0;
    }

    footer ul {
        margin: 0;
        float: left;
    }

    .top-footer ul li {
        margin: 0 10px 0 0;
        font-size: 13px;
    }

    .logo img {
        margin: 0;
    }

    .left-content p  {
        height: 140px;
         
     }

     .logo img {
         width: 250px;
         height: 80px;
     }

     

   


}









